

#calc-body{
    width: 350px;
}

#calc{
    height: 600px;
    background-color: black;
    border-radius: 35px;
    padding-left: 10px;
    scroll-padding-right: 20px;
}


@media screen and (max-width: 480px) {
    #calc-body{
        height: 100%;
    }
}